<footer class="footer-section">
    <div class="fo0ter-div">
        <div class="footer">
        <!--first div-->
        <div class="first-footer-div">
            <h4 class="footer-h4">Angular</h4>
            <p class="footer-paragrap">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <div class="icons-3div">
                <div class="fb-icon">
                    <a href="https://twitter.com/?lang=en" > <i class="fa-brands fa-twitter white-icons"></i></a>
                </div>
                <div class="fb-icon">
                    <a href="https://www.facebook.com/" ><i class="fa-brands fa-facebook-f white-icons"></i></a>
                </div>
                <div class="fb-icon">
                    <a href="https://www.instagram.com/" > <i class="fa-brands fa-instagram white-icons"></i></a>
                </div>
            </div>
        </div>
        <!--second div-->
        <div class="first-footer-div">
            <h4 class="footer-h4">Services</h4>
            <ul class="ul-div">
                <li class="li-tags">
                    <a class="li-href" >Free Wifi</a>
                </li>
                <li class="li-tags">
                    <a class="li-href"  >Easy Booking</a>
                </li>
                <li class="li-tags">
                    <a class="li-href"  >Restaurant</a>
                </li>
                <li class="li-tags bottom-li">
                    <a class="li-href" >Swimming Pool</a>
                </li>
            </ul>
        </div>
         <!--third section-->
         <div class="first-footer-div">
            <h4 class="footer-h4">Hotel Booking</h4>
            <ul class="ul-div">
                <li class="li-tags">
                    <a class="li-href" >Beauty & Health</a>
                </li>
                <li class="li-tags">
                    <a class="li-href"  >60" Flatscreen TV</a>
                </li>
                <li class="li-tags">
                    <a class="li-href"  >Cold Aircondition</a>
                </li>
                <li class="li-tags bottom-li">
                    <a class="li-href"  >Help & Support</a>
                </li>
            </ul>
        </div>
         <!--fourth section-->
         <div class="first-footer-div">
            <h4 class="footer-h4">Quick Links</h4>
            <ul class="ul-div">
                <li class="li-tags">
                    <a class="li-href" >Home</a>
                </li>
                <li class="li-tags">
                    <a class="li-href"  >About</a>
                </li>
                <li class="li-tags">
                    <a class="li-href" >Rooms</a>
                </li>
                <li class="li-tags bottom-li">
                    <a class="li-href"  >Resto & Bar</a>
                </li>
            </ul>
        </div>
        <!--fifth section-->
        <div class="first-footer-div">
            <h4 class="footer-h4">Have a Questions?</h4>
            <!--contact icons-->
            <ul class="ul-li">
                <li class="contact-tags"> <!--icon-->
                    <i class="fa-solid fa-envelope icons-2"></i>
                    <a  class="li-tags"> 	gmail</a>
                </li>
                <li class="contact-tags tags"> <!--icon-->
                    <i class="fa-solid fa-phone icons-2"></i>
                    <a  class="li-tags"> 	+995 00 222 222</a>
                </li> 
                <li class="contact-tags"> <!--icon-->
                    <i class="fa-solid fa-location-dot icons-2"></i>
                    <a href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&q=%E1%83%9E%E1%83%94%E1%83%A2%E1%83%A0%E1%83%98%E1%83%90%E1%83%A8%E1%83%95%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1+30&rflfq=1&num=10&ved=2ahUKEwiZl-S2nf74AhUYg_0HHbieAvwQtgN6BAgSEAY#rlfi=hd:;si:;mv:[[41.7102698,44.7804505],[41.7049045,44.7693849]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" class="li-tags"> 
                            Main Str Chicago Ilinois
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-resolution">
        <nav>
            <ul class="ul-div new">
                <li  class="li-tags">
                    <a  class="footer-h4">Services</a>
                </li>
                <li class="li-tags">
                    <a  class="footer-h4">Hotel Booking</a>
                </li>
                <li class="li-tags">
                    <a  class="footer-h4">Quick Links</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="copyright-div">
    <p class="Copyright-p">Copyright ©2022 All rights reserved | This template is made with by <span class="span-tag">Colorlib</span></p>
</div>
</footer>