<div class="navigation-div" id="header">
    <div class="navigation-div1">
        <a class="mainlogo" href="index.html"> 
            <h4 class="main-logo">Angular</h4>
        </a>
       <!--navigation-->
        <nav class="navigation" id="nav">
            <ul class="nav-ul">
                <li class="nav-li first-li">
                    <a class="color blue" > HOME</a>
                </li>
                <li class="nav-li">
                    <a class="color" >ABOUT</a>
                </li>
                <li class="nav-li active2">
                    <a class="color"  > ROOMS</a>
                </li>
                <li class="nav-li">
                    <a class="color" >RESTO & BAR</a>
                </li>
                <li class="nav-li small">
                    <a class="color"  href="#blog">BLOG</a>
                </li>
            </ul>
        </nav>
    </div>
</div>